@model WebAppChamadosTI.Models.Paciente

@{
    ViewData["Title"] = "Excluir";
}

<h1>Excluir</h1>

<h3>Você tem certeza que deseja excluir este registro?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Profissao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Profissao)
        </dd>
@*         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Setor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Setor)
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Email)
        </dd>
    </dl>

<form asp-action="Excluir" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </div>
</form>
</div>