@model WebAppChamadosTI.Models.Dentista

@{
    ViewData["Title"] = "Visualizar Dentista";
}

<h2>Detalhes do Dentista</h2>

<dl class="row">
    <dt class="col-sm-3">Nome:</dt>
    <dd class="col-sm-9">@Model.Nome</dd>

    <dt class="col-sm-3">Email:</dt>
    <dd class="col-sm-9">@Model.Usuario.Email</dd>

    <dt class="col-sm-3">Telefone:</dt>
    <dd class="col-sm-9">@Model.Telefone</dd>

    <dt class="col-sm-3">Data de Nascimento:</dt>
    <dd class="col-sm-9">@Model.DataNascimento.ToShortDateString()</dd>

    <dt class="col-sm-3">Endereço:</dt>
    <dd class="col-sm-9">@Model.Endereco</dd>
</dl>

<a asp-action="Index" class="btn btn-secondary">Voltar</a>
