@model IEnumerable<WebAppChamadosTI.Models.Agendamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Agendamento</h1>

<p>
    <a asp-action="Incluir" class="btn btn-success btn-sm">Novo Agendamento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dentista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Procedimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusAgendamento)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dentista.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Procedimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusAgendamento)
            </td>


            <td>
                    <a asp-action="Alterar" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Alterar</a> |
                    <a asp-action="Exibir" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Exibir</a> |
                    <a asp-action="Excluir" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
