@model IEnumerable<WebAppChamadosTI.Models.Usuario>
@{
    ViewData["Title"] = "Lista de Usuários";
}

<h2>Lista de Usuários</h2>

<a asp-action="Incluir" class="btn btn-success">Incluir</a>


<form method="post" asp-action="Index">
    <input type="text" name="busca" class="form-control" placeholder="Buscar...">    
    <div class="form-group p-2">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Email</th>
            <th>Perfil</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Email</td>
                <td>@usuario.Perfil.ToString()</td>
                <td>
                    <a asp-action="Exibir" asp-route-id="@usuario.Id">Exibir</a> |
                    <a asp-action="Alterar" asp-route-id="@usuario.Id">Alterar</a> |
                    <a asp-action="Excluir" asp-route-id="@usuario.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
